body {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;

    font-family: Verdana, sans-serif;
}

.header {
    background: linear-gradient(rgb(68, 74, 193), rgb(36, 41, 131));
    color: white;
    padding: 0px;
}

.header a {
    color: rgb(234, 234, 234);
    font-size: 48px;
    text-decoration: none;
}

.header a:hover {
    color: rgb(255, 255, 255);
}

textarea {
    background: black;
    color: white;
    width: 1024px;
    height: 256px;
    font-family: 'Courier New', Courier, monospace;
}
