body {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background: linear-gradient(rgb(68, 74, 193), rgb(36, 41, 131));
    color: white;
}

.header-link {
    font-size: 32px;
    width: 200px;
    padding: 4px;
    margin-right: 0px;
    display: inline-block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header-link a {
    color: rgb(234, 234, 234);
    font-size: 32px;
}

.header-link:hover {
    background: linear-gradient(rgb(56, 61, 158), rgb(23, 27, 86));
    color: rgb(255, 255, 255);
}

.header-link:active {
    background: linear-gradient(rgb(57, 43, 123), rgb(31, 10, 122));
}

#code-region {
    width: 78%;
}

textarea {
    background: rgb(32, 32, 42);
    color: white;
    width: 100%;
    height: 256px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
}

.demos {
    background-color: rgb(17, 15, 46);
    width: 15%;
    float: right;
    padding: 8px;
    padding-right: 64px;
    margin: 0px;
}

.demos p {
    color: rgb(234, 234, 234);
}

.demos a {
    color: rgb(197, 197, 197);
    font-family: 'Courier New', Courier, monospace;
}

.demos a:hover {
    color: rgb(255, 255, 255);
}

.header a {
    color: rgb(234, 234, 234);
}

.header a:hover {
    color: rgb(255, 255, 255);
}

#page {
    padding: 8px;
}

.doc-function {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    display: inline-block;
}

.doc-comment p {
    background-color: rgb(245, 245, 245);
    color: rgb(33, 81, 40);
    width: 1024px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
}

hr {
    color:rgb(222, 222, 222);
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: #8d90a1; 
}

h4 {
    color: #383d5d; 
}

h2 {
    color: #8d90a1; 
}

p {
    color: #333333; 
}

b {
    color: #444444; 
}
