<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sylt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- for GitHub icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <a href="/">sylt</a>
        <a href="https://github.com/MisterMiro/sylt/" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>

    <div class="wrapper">

        <!-- list of demo programs -->
        <div class="demos">
            <p>Example programs:</p>
            {% for demo in demos %}
                <a href="/?load_demo={{ demo[0] }}">{{ demo[1] }}</a>
                <br>
            {% endfor %}
        </div>

        <div class="page">
            <!-- code input -->
            <form method="POST">
                <textarea name="code" wrap="off" placeholder="printLn(&quot;Hello, World!&quot;)">{% if code: %}{{ code }}{% endif %}</textarea>
                <br>
                <input type="submit" value="Run code">

                {% if disassemble: %}
                    <input type="checkbox" id="disassemble" name="disassemble" checked>
                {% else %}
                    <input type="checkbox" id="disassemble" name="disassemble">
                {% endif %}
                <label for="disassemble">Show bytecode</label>
            </form>

            <!-- program output -->
            <textarea readonly placeholder="Program output...">{{ output }}</textarea>
        </div>

    </div>
</body>
</html>
